
@{
	ViewData["Title"] = "Index";
}

<div id="session" class="sessionMessage">CLASSIFIED</div>
<div class="centerScreen" id="gameBoard"></div>


@section Scripts {
	<script type="text/javascript">
		(function () {
			let session = $('#session');
			$.get("gameapi/generate?sessionId=" + session.html(), function (data) {
				if (data === null) {
					return;
				}

				let words = data.words;
				let wordTable = '<table class="table"><tbody>';  
				let board = $('#gameBoard');
				session.data('textToggle', data.sessionId)
					.hover(function (e) {
					var that = $(this);
					var textToSet = that.data('textToggle');
					that.data('textToggle', that.text());
					that.text(textToSet);
				}, function (e) {
					var that = $(this);
					var textToSet = that.data('textToggle');
					that.data('textToggle', that.text());
					that.text(textToSet);
				});
				let index = 0;
				for (let i = 0; i < 5; i++) {
                    wordTable += '<tr>'
					for (let j = 0; j < 5; j++) {
						let sanitizedWord = words[index].replace(' ',"_");
						wordTable += '<td><div id="' + sanitizedWord + '" class="card">' + words[index] +  '</div></td>';
						index++;
					}
                    wordTable += '</tr>'
				}
				wordTable += '</tbody></table>';
				board.html(wordTable);

				for (let i = 0; i < words.length; i++) {
					let sanitizedword = words[i].replace(' ',"_");
					let word = $('#' + sanitizedword);
					let sanitizedWord = words[i].replace(' ',"_");
							switch (data.cardColor) {
								case 0:
									word.css("background-color", "#3d68d4");
									word.empty();
									break;
								case 1:
									// red
									word.css("background-color", "#d43d3d");
									word.empty();
									break;
								case 2:
									// neutral
									word.css("background-color", "#CCCC99");
									word.empty();
									break;
								case 3:
									word.css("background-color", "black");
									word.css("color", "white");
									break;
							}
							
							if (data.gameOver) {
								alert(data.victoryMessage);
							}
						});
					});
				}
			});
		}());
	</script>
}

