
@{
    ViewData["Title"] = "WordKey";
}

<span id="inputContainer">
	<input id="sessionId" type="text" /><button id="get">Get Key</button>
</span>

<div id="wordKey" class="container">
	<div class="row">
		<div class="col-sm">
			Red words
			<div id="redWordsList"></div>
		</div>
		<div class="col-sm">
			Blue words
			<div id="blueWordsList"></div>
		</div>
		<div class="col-sm">
			Neutral words
			<div id="neutralWordsList"></div>
		</div>
		<div class="col-sm">
			Black word
			<div id="blackWordList"></div>
		</div>
	</div>
</div>

@section Scripts {
    <script type="text/javascript">
		(function () {
			$('#wordKey').hide();
			$('#get').click(function () {
				let sessionId = $('#sessionId').val();
				$.get("/gameapi/codemaster?sessionId=" + sessionId)
					.done(function (data) {
						let redWordsList = $('#redWordsList');
						let blueWordsList = $('#blueWordsList');
						let neutralWordsList = $('#neutralWordsList');
						let blackWordList = $('#blackWordList');
						
						redWordsList.html(createHtmlList(data['redWords']));
						blueWordsList.html(createHtmlList(data['blueWords']));
						neutralWordsList.html(createHtmlList(data['neutralWords']));
						blackWordList.html(createHtmlList(data['blackWord']));
					})
					.fail(function(jqXHR, textStatus, errorThrown) {
						window.alert("Game Session does not exist");
					 });
				$('#inputContainer').hide();
				$('#wordKey').show();
			})
		}());

		function createHtmlList(collection) {
			let html = '<ul class="list-group">';
			if (Array.isArray(collection)) {
				for (let i = 0; i < collection.length; i++) {
					html += '<li class="list-group-item">' + collection[i] + '</li>';
				}
			} else {
				html += '<li class="list-group-item">' + collection + '</li>';
			}
			html += '<ul>';

			return html;
		}
    </script>
}
