@{
    ViewData["Title"] = "Home Page";
}

<div class="centerScreen">
    <img src="folderText.png" class="centered" alt="folder">
    <p class="startGameButton"><a class="centered btn-blue-tr" href="/Game">Start new Game</a></p>
    <p class="codeMasterButton"><a class="centered btn-blue-tr" href="/Game/WordKey">I'm a code master</a></p>
</div>
