@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Code Words!</h1>
    <p>New Game <a href="/Game">Start new Game</a>.</p>
    <p>I'm a code master</p><input type="text" />
</div>
