@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Code Words!</h1>
    <p><a href="/Game">Start new Game</a>.</p>
    <p><a href="/Game/WordKey">I'm a code master</a></p>
</div>
